html, body {
	margin: 0;
	padding: 0;
	font-family: Archivo Narrow, monospace;
}

.title {
	text-align: center;
}

.title h1 {
	font-size: 10vw;
	margin: 0;
	line-height: 1;
	font-variant-caps: all-petite-caps;
}

.title h2 {
	font-weight: 400;
	text-transform: uppercase;
	font-size: 18px;
	margin-top: 0px;
}

.picture-container {
	max-width: 85%;
	max-height: 100vh;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15vh;
	margin-bottom: 15vh;
	text-align: center;
}

figure {
	margin: 0px;
}

img.pic {
	display: block;
	/* filter: blur(10px); */
	max-width: 100%;
	max-height: 100vh;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	height: auto;
}

img.pic.loaded {
	filter: blur(0px);
	width: auto;
}

@media only screen and ( max-width:1024px) {
	ul#menu {
		position: relative;
		width: 100%;
		height: auto;
		display: inline-block;
	}
	ul#menu li {
		float: left;
		margin-right: 20px;
	}
	div#content {
		margin-left: 0px;
	}
}

nav {
	overflow-x: hidden;
}

#menu {
	position: fixed;
	width: 200px;
	height: 100vh;
}

#menu:hover {
	overflow: auto;
}

#menu ul {
	margin: 0px;
	padding: 10px;
}

#menu li {
	list-style: none;
	padding: 2px 0px;
}

#menu a, #menu a:visited {
	text-decoration: none;
	color: #9a97a3;
	text-transform: uppercase;
}

#menu a:hover {
	text-decoration: none;
	color: #000;
}

#content {
	margin-left: 200px;
}