<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Photo Blog</title>
    <meta name="description" content="Photo Blog">
    <style>
        body {
            margin: 0px;
            font-family: monospace;
        }

        .title {
            height: 20vh;
        }

        .title h1 {
            text-align: center;
            line-height: 20vh;
        }

        img.pic {
            width: 85%;
            max-height: 100vh;
            margin-left: auto;
            margin-right: auto;
            display: block;
            margin-top: 15vh;
            margin-bottom: 15vh;
        }

        #menu {
            position: fixed;
            width: 200px;
        }

        #menu ul {
            margin: 0px;
            padding: 10px;
        }

        #menu li {
            list-style: none;
            padding: 2px 0px;
        }

        #menu a,
        #menu a:visited,
        #menu a:hover {
            text-decoration: none;
            color: black;
        }

        #content {
            margin-left: 200px;
        }
    </style>
</head>

<body>
    <ul id="menu">
        <% pages.forEach(function(page){ %>
            <li>
                <a href="<%= page.name %>.html">
                    <%= page.name %>
                </a>
            </li>
            <% }); %>
    </ul>
    <div id="content"></div>

   <script>
        var myLazyLoad;
        function loadPage(pageLink) {
            fetch(pageLink).then(function (content) {
                return content.text();
            }).then(function (content) {
                return document.querySelector('#content').innerHTML = content;
            }).catch(function (error) {
                console.error(error);
            });
        }
        function init() {
            var pages = document.querySelectorAll('#menu li');
            pages.forEach(function (li) {
                li.addEventListener('click', function (clickEvent) {
                    clickEvent.preventDefault();
                    clickEvent.stopPropagation();
                    loadPage(clickEvent.target.href)
                });
            });
            if (pages.length > 0) {
                var firstPageUrl = pages[0].querySelector('a').href;
                loadPage(firstPageUrl);
            }
            
        }
        document.addEventListener("DOMContentLoaded", init);
    </script>
</body>

</html>