<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Photo Blog</title>
    <meta name="description" content="Photo Blog">
    <link href="styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <ul id="menu">
        <% pages.forEach(function(page){ %>
            <li>
                <a href="<%= page.name %>.html">
                    <%= page.name %>
                </a>
            </li>
            <% }); %>
    </ul>
    <div id="content"></div>

    <script src="app.js" ></script>
</body>

</html>