<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Photo Blog</title>
    <meta name="description" content="Photo Blog">
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />
    <style>
       body {
            margin: 0px;
            font-family: monospace;
        }

        .title {
            height: 40vh;
            text-align: center;
        }

        .title h1 {
            padding-top: 10vh;
        }

        img.pic {
            width: 85%;
            max-height: 100vh;
            margin-left: auto;
            margin-right: auto;
            display: block;
            margin-top: 15vh;
            margin-bottom: 15vh;
        }

        #menu {
            position: fixed;
            width: 200px;
            top: 0px;
            background-color: white;
            margin: 0px;
            padding: 10px;
            height: 100vh;
        }

        #menu ul {
            margin: 0px;
            padding: 10px;
        }

        #menu li {
            list-style: none;
            padding: 2px 0px;
        }

        #menu a,
        #menu a:visited,
        #menu a:hover {
            text-decoration: none;
            color: black;
        }

        #content {
            margin-left: 200px;
        }

        #map {
            width: 100%;
            height: 80vh;
            position: fixed;
            z-index: -1;
            top: 0px;
            overflow: hidden;
            left: 0px;
        }
    </style>
</head>

<body>
    <ul id="menu">
        <% pages.forEach(function(page){ %>
            <li>
                <a href="<%= page.name %>.html">
                    <%= page.name %>
                </a>
            </li>
            <% }); %>
    </ul>
    <div id="content"></div>
    <div id='map'></div>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoicGx1cnBzIiwiYSI6ImNpbXY4M2xkMTAyb3F2cWx1bnI3MWN2cGQifQ.dn9cVA-CVwTjEO3KTxvmZw';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/plurps/cjennp0qn8az42rmwtpgidve1',
            center: [-87.240372, 30.433283],
            zoom: 9
        }).addControl(new mapboxgl.AttributionControl({
            compact: true
        }));
    </script>

    <script>
            function loadPage(pageLink) {
                // remove # and append .html
                var url = pageLink.slice(1) + '.html';
                fetch(url).then(function (content) {
                    return content.text();
                }).then(function (content) {
                    return document.querySelector('#content').innerHTML = content;
                }).catch(function (error) {
                    console.error(error);
                });
            }
    
            function getRelativeUrl(link) {
                var url = link.href
                if (url.startsWith(link.baseURI)) {
                    return url.substring(link.baseURI.length);
                } else {
                    return url;
                }
            }
    
            function router() {
                var pages = document.querySelectorAll('#menu li');
                // Current route url (getting rid of '#' in hash as well):
                var url = location.hash;
                if (url) {
                    loadPage(url);
                } else {
                    // no page specified, load the latest one (first in the list)
                    var firstPageLink = pages[0].querySelector('a');
                    var firstPageUrl = getRelativeUrl(firstPageLink);
                    loadPage(firstPageUrl);
                }
            }
            function init() {
                var pages = document.querySelectorAll('#menu li a');
                // prepend menu links with #, this allows to have a fallback if js is disabled
                pages.forEach(function (link) {
                    var url = getRelativeUrl(link)
                    // remove .html extension
                    url = url.substring(0, url.length - 5);
                    // prepend # and remove .html ending
                    link.href = '#' + url;
                });
                router();
            }
            document.addEventListener("DOMContentLoaded", init);
            window.addEventListener('hashchange', router);
        </script>
</body>

</html>