<div>
	<div class="title">
		<span>
			<h1>
				<%= page.name%>
			</h1>
			<% if (page.date) { %>
				<h2>
					<%= page.date %>
				</h2>
				<%} %>
		</span>
	</div>
	<% pictures.forEach(function(picture){ %>
		<img class="pic" src="<%=page.documentName + '/' +picture.placeholder %>" data-srcset="<%- imgSizes.reduce( (a, size) => 
			a + page.documentName + '/' + picture[size] + ' ' + size + 'w, ', '') %>" />
		<% }); %>
</div>