body {
    margin: 0px;
    font-family: Archivo Narrow, monospace;
}

.title {
    min-height: 20vh;
    text-align: center;
}

.title h1 {
    font-size: 10vw;
    margin: 0;
    line-height: 1;
}

img.pic {
    width: 85%;
    max-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 15vh;
		margin-bottom: 15vh;
		filter: blur(10px);
}

img.pic.loaded {
    filter: blur(0px);
}

#menu {
    position: fixed;
    width: 200px;
    height: 100vh;
}

#menu:hover {
    overflow: auto;
}

#menu ul {
    margin: 0px;
    padding: 10px;
}

#menu li {
    list-style: none;
    padding: 2px 0px;
}

#menu a,
#menu a:visited,
#menu a:hover {
    text-decoration: none;
    color: black;
}

#content {
    margin-left: 200px;
}